* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: auto;
}

.fw-bold {
    text-align: center;
    position: relative;
    left: 0;
    top: 50px;
    font-size: 60px;
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#counter {
    font-size: 60px;
    margin: 10px 0px;
    font-weight: 700;
    font-size: 100px;
    text-align: center;
}

button {
    font-size: 20px;
    padding: 20px 50px;
    margin: 10px;
    background-color: rgb(33, 146, 150);
    color: rgb(255, 255, 255);
}

#adauga {
    font-size: 40px;
    border: solid;
    border-radius: 20px;
}

#scade {
    font-size: 40px;
    border: solid;
    border-radius: 20px;
}

#reset {
    font-size: 20px;
    border: solid;
    border-radius: 20px;
}

#adauga:hover {
    color: rgb(0, 0, 0);
}

#scade:hover {
    color: rgb(0, 0, 0);
}

#reset:hover {
    color: rgb(0, 0, 0);
}